.navigation-controls--github::before {
    content: url("../images/github.svg") !important;
}

.navigation-controls--home::before {
    content: url("../images/home.svg") !important;
}

@media (max-width: 759px) {
    .navigation-controls--theme {
        display: block !important;
    }
}